body{
    background-image: url("/imagens/bgmanha.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671);
}

div{
    text-align: center;
    padding: 8px
}

footer{
    color: rgb(114, 114, 114);
    text-align: center;
    font-style: italic;
    
}
